* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: none;
  z-index: 999;
}

.pointer {
  cursor: pointer;
}


.no-hover-effect {
  transition: none;
  background-color: transparent !important;
  border: none !important;
  color: #000000 !important;
}

.no-back {
  background-color: none;
}


.transparent-input {
  background: rgba(255, 255, 255, 0.5);
  border: none;
  color: #000;
  padding: 8px;
}


.transparent-input:focus {
  background: rgba(255, 255, 255, 0.5);
  /* Mantieni l'opacità in stato "focus" */
  border: none;
  /* Rimuovi il bordo in stato "focus" */
  color: #000;
  /* Mantieni il colore del testo in stato "focus" */
}


.glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.glass-btn {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.55);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.7px);
  -webkit-backdrop-filter: blur(13.7px);
}

.custom-dropdown {
  background-color: transparent;
  /* Imposta il background del select su trasparente */
  color: #000;
  /* Cambia il colore del testo (se necessario) */
  border: none;
  /* Rimuovi il bordo (se necessario) */
}

option {
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, .5);
  padding: 5px;
}

.logo {
  position: absolute;
  top: 60%;
  left: 50%;

  transform: translate(-50%, -50%);

}


.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
	height: 250%;
  background-color: #9292ff;
  opacity: 0.8;
  background: linear-gradient(135deg, #9dacff55 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(225deg, #9dacff 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(315deg, #9dacff55 25%, transparent 25%) 0px 0/ 80px 80px, linear-gradient(45deg, #9dacff 25%, #9292ff 25%) 0px 0/ 80px 80px;
  background-repeat: repeat;
  z-index: -1;
  pointer-events: none;
}

ul {
  padding-left: 0;
}

.card:hover {
  transform: scale(1); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

/* card transitions */

.card-animation {
  animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  opacity: 0;
  display: none;
  position: absolute;
  z-index: 1;
  height: 0;
  width: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background: none;
    visibility: hidden;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    display: block;
    position: relative;
    z-index: auto;
    height: auto;
    width: auto;
    overflow: visible;
    padding: initial;
    margin: initial;
    border: initial;
    border-radius: initial;
    box-shadow: initial;
    background: initial;
    visibility: visible;
  }
}

.card.card-animation {
  transform: translateX(-100%);
  opacity: 0;
  animation: slideIn 1s ease-in-out forwards;
}

@keyframes slideIn {
  to {
    transform: translateX(0);
    opacity: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}


.text-animation {
  animation: easeIn 1s ease-in-out forwards;
  opacity: 0;
  transform: translateY(-20px);
}

@keyframes easeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* paginationComponent */
.current-page-button {
    background: rgba(16, 16, 16, 0.271);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.219);
}